<html>
  <style>
    body {
      text-align: center;
      margin: 10em 2em;
    }
    .view-mods {
      display: inline-block;
      text-align: left;
    }
    dt {
      float: left;
      width: 9em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: 9.5em;
      padding: 0 5px 0 0;
      text-align: left;
    }
    dd {
      margin-left: 9.6em;
    }
  </style>
  <title><%= @page_title %></title>
  <body>
    <h1><%= @page_title %> (<%= ModsDisplay::VERSION %>)</h1>
    <div class="view-mods">
      <%= @mods %>
    </div>
  </body>
</html>